@import "../../../Utilities/Variables";

.event-title {
    flex-basis: 72%;
    background-color: $LightBlueButtonBackground;
    text-align: center;
    span {
        font-size: 3.7vw;
        font-weight: bold;
        letter-spacing: 3px;
        margin: 0 auto;
        padding-top: 10px;
        @include for-size(small-phone) {
            letter-spacing: 0px;
            padding: 0;
        }
        @include for-size(phone-only) {
            letter-spacing: 1px;
            padding: 0;
        }
        @include for-size(tablet-portrait) {
            letter-spacing: 2px;
            padding: 0;
        }
        @include for-size(tablet-landscape) {
            letter-spacing: 2px;
            padding: 0;
        }
    }
}
.event-nextPre-btn {
    flex-basis: 14%;
    background-color: rgb(101, 199, 197);
    span {
        font-size: 1.85vw;
        letter-spacing: 3px;

        @include for-size(small-phone) {
            letter-spacing: 0px;
            padding: 0;
        }
        @include for-size(phone-only) {
            letter-spacing: 0px;
            padding: 0;
        }
        @include for-size(tablet-portrait) {
            letter-spacing: 0px;
            padding: 0;
        }
        @include for-size(tablet-landscape) {
            letter-spacing: 0px;
            padding: 0;
        }
    }
}

.event-main {
    width: 100%;
    height: 54vh;
    &--topImg {
        height: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
