@import "../../../Utilities/_Variables";

.main-top {
  &--right {
    flex-basis: 50%;
    background-color: $LightBlueButtonBackground;
    p {
      text-align: left;
      margin: 0;
      padding: 0;

      letter-spacing: 2px;

      font-size: $p;
      @include for-size(small-phone) {
        letter-spacing: 0;
      }
      @include for-size(phone-only) {
        letter-spacing: 0;
      }
      @include for-size(tablet-portrait) {
        letter-spacing: 1px;
      }
      @include for-size(tablet-landscape) {
        letter-spacing: 1px;
      }
    }

    span {
      font-size: $p;
      font-weight: bold;
      @include for-size(small-phone) {
        letter-spacing: 0;
      }
      @include for-size(phone-only) {
        letter-spacing: 0;
      }
    }
  }
}

.main-bottom {
  height: 92%;
  flex-basis: 50%;
  padding: 2% 2% 0 3%;
  font-size: 1.5vw;
  letter-spacing: 1px;
  text-align: left;
  overflow: scroll;
  display: flex;
  &--right {
    width: 49%;
    height: 90%;
    padding-left: 2%;
  }
  &--left {
    width: 49%;
  }
}
