$HeavyOrange : rgb(221, 120, 35);
$MediumOrange : rgb(220, 156, 56);
$LightOrange : rgb(225, 173, 56);
$HeavyBlue : rgb(5, 151, 165);
$MediumBlue : rgb(73, 175, 189);
$LightBlue : rgba(73, 175, 189, 0.4);
$LightBlueButtonBackground : rgb(1, 155, 167);
$ExtraHeavyBlueGreen :rgb(5, 140, 155);
$SelectedBorderColor :rgb(183, 223, 228);
$DarkBlueBackground: #0d6d79;

@mixin for-size($size){
    @if $size == small-phone {
        @media (max-width: 479px){
            @content;
        }
    }
    @if $size == phone-only {
        @media (min-width:480px )and(max-width: 599px){
            @content;
        }
    }
    @if $size ==tablet-portrait {
        @media (min-width:600px )and(max-width: 900px){
            @content;
        }
    }
    @if $size == tablet-landscape {
        @media (min-width:901px )and(max-width: 1070px){
            @content;
        }
    }
}

$h2: 3vw;
$h3:2.5vw;
$h4:2.1vw;
$p:1.7vw;