@import "../../../Utilities/Variables";

.destination-main {
  width: 86%;
  // height: 100%;
  height: 54vh;
  background-color: $HeavyBlue;
  color: white;
  &--topImg {
    height: 50%;
    width: 100%;
  }
  &--details {
    height: 50%;
    width: 100%;
    padding: 1% 5%;
    &--top-title {
      height: 8%;
      width: 100%;
      text-align: left;
      font-size: 4.95vw;
      font-weight: 500;
      letter-spacing: 10px;
      letter-spacing: 1vw;
      margin-bottom: 5%;
    }
    &--bottom {
      height: 90%;
      display: flex;
      &--left {
        width: 50%;
        margin-top: 10px;
        p {
          display: inline-block;
          font-size: 1.85vw;
          letter-spacing: 1px;
          line-height: 2.4vw;
        }
      }
      &--right {
        width: 48%;
        margin-left: 2%;
        margin-top: 10px;
        &--info {
          height: 25%;
          letter-spacing: 1px;
          overflow: hidden;
        }
        &--btnContainer {
          padding: 1% 0;
          margin-bottom: 3%;
          &--exploreBtn {
            width: 100%;
            padding: 4% 0;
            text-align: center;
            background-color: $HeavyOrange;
            margin: 5% 0;
            font-size: 2vw;
            font-weight: bold;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
          }
        }
        p {
          display: block;
          font-size: 1.85vw;
          letter-spacing: 1px;
          line-height: 2.4vw;
          font-weight: 400;

          SPAN.label {
            font-weight: 600;
          }
        }
      }
    }
  }
}

// .page-details {
//     height: 50%;
//     background-color: $ExtraHeavyBlueGreen;
//     padding-left: 4%;
//     color: white;

//     &--title {
//         height: 20%;
//         text-align: left;
//         display: flex;
//         align-items: center;
//         font-size: 42px;
//         font-weight: bold;
//         letter-spacing: 10px;
//         @include for-size(small-phone) {
//             letter-spacing: 1px;
//             //  padding-top: 12px;
//             font-size: 20px;
//         }
//         @include for-size(phone-only) {
//             letter-spacing: 2px;
//             //  padding-top: 13px;
//             font-size: 24px;
//         }
//         @include for-size(tablet-portrait) {
//             letter-spacing: 3px;
//             //  padding-top: 15px;
//             font-size: 34px;
//         }
//         @include for-size(tablet-landscape) {
//             letter-spacing: 4px;
//             //   padding-top: 3px;
//             font-size: 38px;
//         }
//     }

//     &--middleLeft {
//         width: 50%;
//         text-align: left;

//         p {
//             // font-size: 18px;
//             font-size: $p;
//             letter-spacing: 1px;
//         }
//     }

//     &--middleRight {
//         width: 50%;
//         height: 100%;
//         margin-left: 4%;

//         font-size: $p;
//         @include for-size(small-phone) {
//             font-size: 1.4vw;
//         }
//         @include for-size(phone-only) {
//             font-size: 1.4vw;
//         }
//         @include for-size(tablet-portrait) {
//             font-size: 1.4vw;
//         }
//         @include for-size(tablet-landscape) {
//             font-size: 1.4vw;
//         }
//     }

//     &--btn {
//         @include for-size(small-phone) {
//             width: 90% !important;
//         }
//         @include for-size(phone-only) {
//             width: 90% !important;
//         }
//         @include for-size(tablet-portrait) {
//             width: 85% !important;
//         }
//         @include for-size(tablet-landscape) {
//             width: 85% !important;
//         }
//         span {
//             font-size: 1.9vw;
//             font-weight: bold;
//             @include for-size(small-phone) {
//                 padding-top: 1%;
//             }
//             @include for-size(phone-only) {
//                 padding-top: 1%;
//             }
//             @include for-size(tablet-portrait) {
//                 padding-top: 1%;
//             }
//             @include for-size(tablet-landscape) {
//             }
//         }
//     }
// }

.Explore {
  width: 32%;

  &--title {
    width: 68%;
    //   font-size: 18px;
    font-size: $p;
  }
  &--name {
    width: 67%;
    background-color: $HeavyBlue;
    display: flex;
    align-items: center;
    padding-left: 5%;
    border-left: 1px solid rgb(184, 223, 228);
    border-bottom: 1px solid rgb(184, 223, 228);
    // font-size: 16pt;
    font-size: $p;
  }
}
