// @import "../../../Constants.js";
p {
        
    color: white;      
    display: inline;
    font-size: 2vw;
  //  padding: 4px 25px;
}
img { 
    width: 26px;
    height: 26px;
}

  .subNav-container{
      width: 100%;
      height: 100%;
      display: flex;
     text-align: center;
     align-items: center;
     //ßpadding: 2%;
    background-color: rgb(13,109,121);
    border:1px solid rgb(104,199,197);
    &--search{
        width: 6vw;
    }
    &--about, &--about:hover,
    &--about-active, &--about-active:hover{
        width: 50vw;
        align-content: center;
        color: white;
        font-size: 2.05vw;
        padding-top: 17px;
        height:100%;
        letter-spacing: 1px;        
        font-weight: 500;
        text-decoration: none;
    }
    &--about-active{
        background-color: rgb(243, 158, 49);
    }
    &--clock{
        width: 50vw;
        border-left:1px solid rgb(104,199,197);
        color: white;
        font-size: 2.05vw;
        align-content: center;
        background-color: rgb(25, 151, 164);
        height: 100%;
        padding-top: 10px;
        letter-spacing: 1px;
        font-weight: 500;
    }
  // background-color: LightBlue;
    
 //   gridTemplate-columns: 6vw 23.5vw 23.5vw;

  }