@import "../../../Utilities/Variables";

.ourHotel-main{
width: 86%;
//height:100vh;
height:100%;
color: white;
background-color: $ExtraHeavyBlueGreen;
&--img{
width: 100%;
height: 42%;
background-image: url('../../../media/mainImage.jpg');
background-size: cover;
background-position: center;
    }
&--header{
   // height: 16%;
    color: white;
    padding: 2% 0 5% 0;
    background-color: rgb(224,172,68);
    text-align: center;
    position: relative;
    box-shadow: 0px 5px 5px black;
    &--top{
        font-size: 2vw;
        letter-spacing: 3px;
        margin: 0 auto;
    }
    &--bottom{
        font-size:5vw;
        margin: 0 auto;
    }
}
&--content{
    width: 100%;
    height: 40%;
   // background-color: $ExtraHeavyBlueGreen;
    display: flex;
    font-size:1.3vw;
    text-align: left;
    &--left{
        width:46%;
        height: 96%;
        padding: 2% 0 5% 3%;
    }
    &--right{
        width:46%;
        height: 96%;
        padding:  2% 0 5% 3%;;
    }

}
}