@import "../../../Utilities/_Variables";

.activity-main-middle {
    width: 100%;
    height: 100%;

    &--title {
        height: 16%;
        display: flex;
        align-items: center;
        //  background-color: $MediumOrange;
        background-color: $LightOrange;
        span {
            
            font-size: 40px;
            letter-spacing: 3px;
            padding-top: 10px;
            @include for-size(small-phone) {
                letter-spacing: 0px;
            }
            @include for-size(phone-only) {
                letter-spacing: 1px;
            }
            @include for-size(tablet-portrait) {
                letter-spacing: 2px;
            }
            @include for-size(tablet-landscape) {
                letter-spacing: 2px;
            }
        }
    }

    &--subtitle {
        height: 11%;
        text-align: center;
        //  flex-basis: 72%;
        display: flex;
        align-items: center;
        background-color: $LightBlueButtonBackground;
        font-size: 4vw;
        span {
            font-size: $h4;
            font-weight: bold;
            letter-spacing: 3px;
            margin: 0 auto;
            @include for-size(small-phone) {
                letter-spacing: 0px;
                padding: 0;
            }
            @include for-size(phone-only) {
                letter-spacing: 1px;
                padding: 0;
            }
            @include for-size(tablet-portrait) {
                letter-spacing: 2px;
                padding: 0;
            }
            @include for-size(tablet-landscape) {
                letter-spacing: 2px;
                padding: 0;
            }
        }
    }

    &--nextPreBtn {
        flex-basis: 14%;
        background-color: rgb(101, 199, 197);
        text-decoration: none;
        color: white;
        span {
            font-size: 20px;
            letter-spacing: 3px;
            padding-top: 10px;
            text-decoration: none;

            @include for-size(small-phone) {
                font-size: 1.2vw;
                letter-spacing: 0px;
                padding: 0;
            }
            @include for-size(phone-only) {
                font-size: 1.2vw;
                letter-spacing: 0px;
                padding: 0;
            }
            @include for-size(tablet-portrait) {
                font-size: 1.2vw;
                letter-spacing: 0px;
                padding: 0;
            }
            @include for-size(tablet-landscape) {
                font-size: 1.2vw;
                letter-spacing: 0px;
                padding: 0;
            }
        }
    }

    &--description {
        height: 43%;
        background-color: $ExtraHeavyBlueGreen;
        text-align: left;
        letter-spacing: 1px;
        font-size: 20px;
        line-height: 130%;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        overflow: scroll;
        @include for-size(small-phone) {
            letter-spacing: 0px !important;
        }
        @include for-size(phone-only) {
            letter-spacing: 0px !important;
        }
        p {
            font-size: 20px;
        }
    }

    &--moreInfo {
        height: 7%;
        background-color: rgb(14, 154, 167);
        border-top: 1px solid rgb(184, 223, 228);
        border-bottom: 1px solid rgb(184, 223, 228);
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-top: 7px;

        span {
            font-size: 20px;
            letter-spacing: 3px;

            align-items: center;
            @include for-size(small-phone) {
                letter-spacing: 1px;
            }
            @include for-size(phone-only) {
                letter-spacing: 1px;
            }
            @include for-size(tablet-portrait) {
                letter-spacing: 2px;
            }
            @include for-size(tablet-landscape) {
                letter-spacing: 2px;
            }
        }
    }

    &--advertise {
        background-color: rgb(2, 61, 66);
        height: 100%;
        font-size: 2vw;
        letter-spacing: 2px;
        padding: 0;

        @include for-size(small-phone) {
            line-height: 130%;
        }
        @include for-size(phone-only) {
            line-height: 130%;
        }
        @include for-size(tablet-portrait) {
            line-height: 110%;
        }
        @include for-size(tablet-landscape) {
            line-height: 110%;
        }
    }
}

.tour {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: rgb(2, 61, 66);

    &--title {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 1.5vw;
    }

    &--details {
        flex: 1;
        flex-direction: column;
        // font-size: 16px;
        font-size: 1.5vw;
        letter-spacing: 2px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        @include for-size(small-phone) {
            // font-size: $p-SP;
            letter-spacing: 0px !important;
            font-size: 1.5vw;
        }
        @include for-size(phone-only) {
            //  font-size: $p-PO;
            letter-spacing: 0px !important;
            font-size: 1.5vw;
        }
        @include for-size(tablet-portrait) {
            font-size: 1.2vw;
        }
        @include for-size(tablet-landscape) {
            font-size: 1.2vw;
        }
    }
}

.activity-main-bottom {
    height: 24%;
    overflow: scroll;
    background-color: rgb(2, 61, 66);
    
    .single {
        height: 100%;
        display: flex;
        padding-left: 10px;
    }
    .multiple {
        height: 50%;
        display: flex;
        border-bottom: 2px solid rgb(105, 194, 209);
        padding-left: 10px;
    }

    .info-name {
        flex: 1 1 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-top: 10px;
        text-align: center;
    }

    .info-contact{
        flex: 1 1 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    letter-spacing: 2px;
    overflow-wrap: break-word;
    }

    .info-email {
        flex: 1 1 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        letter-spacing: 2px;
        overflow-wrap: break-word;
    }

    .advertise {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        letter-spacing: 2px;
        overflow-wrap: break-word;
        text-align: center;
        line-height: 31px;
        padding-top: 20px;
    }
   

    &--D1 {
        display: flex;
        border-bottom: 1px solid $LightBlueButtonBackground;
        height: 100%;
        div {
            width: 33%;
            margin: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            span {
                font-size: 1.8vw;
            }
        }
    }
    &--D2 {
        display: flex;
        height: 50%;
        border-bottom: 1px solid $LightBlueButtonBackground;
        div {
            width: 33%;
            margin: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            span {
                font-size: 1.8vw;
            }
        }
    }
    &--D3 {
        display: flex;
        height: 33%;
        border-bottom: 1px solid $LightBlueButtonBackground;
        div {
            width: 33%;
            margin: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            span {
                font-size: 1.7vw;
            }
        }
    }
}
