@import "../../Utilities/Variables";

.static-footer {
    background-color: $DarkBlueBackground;
    width: 100vw; 
    height: 2vh; 
    display: flex;
    color: white;
    z-index: 99;
    position: relative;
}

.static-footer .left-block {
    flex: 1 1 0%; 
    display: flex; 
    align-items: center;
}

.static-footer .left-block .copyright {
    margin-left: 20px;
    margin-right: 5px;
}

.static-footer .right-block {
    flex: 1 1 0%; display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}