//@import "../../Utilities/_Variables";
@import "../../../Utilities/Variables";

div.info-div {
    position: relative;
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-rendering: optimizeLegibility;
    background-color: rgb(64, 64, 65);
    background-size: cover;
    mix-blend-mode: multiply;
    bottom: -13%;
}

span.info-span {
    position: relative;
    bottom: 5%;
    color: white;
    font-size: 20pt;
    letter-spacing: 5px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}
.subContainer {
    background-color: rgb(221, 120, 35);
    width: 14%;
    height: 100%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;

    box-shadow: 9.899px 0px 7px 0px rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.left-vertical-nav {
    background-color: $HeavyOrange;
    width: 14%;
    box-shadow: 9.899px 0px 7px 0px rgba(0, 0, 0, 0.6);
    z-index: 5;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
}
.vertical-title {
    // font-size: 46px;
    font-size: 4.9vw;
    color: white;
    
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    justify-content: center;
    align-items: center;
    font-weight: 500;
    letter-spacing: 10px;
    white-space: nowrap;
    @include for-size(small-phone) {
        letter-spacing: 3px;
    }
    @include for-size(phone-only) {
        letter-spacing: 4px;
    }
    @include for-size(tablet-portrait) {
        letter-spacing: 5px;
    }
    @include for-size(tablet-landscape) {
        letter-spacing: 6px;
    }
}
.middle-section {
    position: relative;
    padding: 12px;
    color: white;
    font-size: 2.45vw;
    letter-spacing: 5px;
    @include for-size(small-phone) {
        letter-spacing: 1px;
    }
    @include for-size(phone-only) {
        letter-spacing: 2px;
    }
    @include for-size(tablet-portrait) {
        letter-spacing: 3px;
    }
    @include for-size(tablet-landscape) {
        letter-spacing: 4px;
    }

    &--title {
        color: white;
        //  font-size: 22px;
        font-size: 2.45vw;
        letter-spacing: 5px;
        font-weight: 400;
        padding-top: 5px;
        @include for-size(small-phone) {
            letter-spacing: 1px;
            //  padding-top: 12px;
            //font-size: 9px;
        }
        @include for-size(phone-only) {
            letter-spacing: 2px;
            //  padding-top: 13px;
            //font-size: 14px;
        }
        @include for-size(tablet-portrait) {
            letter-spacing: 3px;
            //  padding-top: 15px;
            //  font-size: 16px;
        }
        @include for-size(tablet-landscape) {
            letter-spacing: 4px;
            //   padding-top: 3px;
            //  font-size: 18px;
        }
    }
    &--innerTitle {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        align-items: center;
        font-weight: bold;
        text-align: left;
        margin-bottom: 10px;

        span {
            font-size: 2.8vw;
            font-weight: 500;
            letter-spacing: 2px;
        }
    }

    &--leftSide {
        text-align: left;
        font-size: $p;
        letter-spacing: 1px;
        line-height: 2.4vw;
        padding-right: 20px;
        overflow: scroll;
        @include for-size(small-phone) {
            letter-spacing: 0px;
            font-size: 1.4vw;
        }
        @include for-size(phone-only) {
            letter-spacing: 1px;
            font-size: 1.4vw;
        }
        @include for-size(tablet-portrait) {
            font-size: 1.4vw;
        }
        @include for-size(tablet-landscape) {
            font-size: 1.5vw;
        }
        div {
            font-size: 21.6px;

            ul {
                margin-top: 10px;

                li {
                    margin-bottom: 3px;
                }
            }

            p {
                display: block;
                margin-bottom: 13px;
            }
        }
    }

    &--rightSide {
        text-align: left;
        overflow-wrap: break-word;
        word-wrap: break-word;
        font-size: $p;
        letter-spacing: 1px;
        line-height: 2.4vw;
        // padding-bottom: 1%;
        @include for-size(small-phone) {
            letter-spacing: 0px;
            font-size: 1.4vw;
            margin: 0;
        }
        @include for-size(phone-only) {
            letter-spacing: 1px;
            font-size: 1.4vw;
            margin: 0;
        }
        @include for-size(tablet-portrait) {
            margin: 0;
            font-size: 1.4vw;
        }
        @include for-size(tablet-landscape) {
            margin: 0;
            font-size: 1.5vw;
        }

        p {
            display: block;
            padding-bottom: 10px;
        }
        
        p.contact-details {
            font-size: 1.85vw;
            letter-spacing: 2px;
            padding-bottom: 5px;
        }
    }

    &--btnContainer {
        margin-top: 7%;
        @include for-size(small-phone) {
            margin-top: 0;
        }
        @include for-size(phone-only) {
            margin-top: 1%;
        }
        @include for-size(tablet-portrait) {
            margin-top: 3%;
        }
        @include for-size(tablet-landscape) {
            margin-top: 4%;
        }

        &--btn {
            display: inline-block;
            width: 100%;
            text-align: center;
            div {
                @include for-size(small-phone) {
                    padding: 0 !important;
                }
                @include for-size(phone-only) {
                    padding: 1% 0 !important;
                }
                @include for-size(tablet-portrait) {
                    padding: 2% 0 !important;
                }
                @include for-size(tablet-landscape) {
                    padding: 2% 0 !important;
                }
            }
            span {
                display: inline-block;
                @include for-size(small-phone) {
                    font-size: 6px !important;
                    padding-bottom: 4%;
                }
                @include for-size(phone-only) {
                    font-size: 8px !important;
                    padding-bottom: 3%;
                }
                @include for-size(tablet-portrait) {
                    font-size: 10px !important;
                }
                @include for-size(tablet-landscape) {
                    font-size: 12px !important;
                }
            }
        }
    }
}

.subSection {
    &--title {
        // width: 67%;
        background-color: $HeavyBlue;
        // display: flex;
        // display: -webkit-box;
        // display: -moz-box;
        // display: -ms-flexbox;
        // display: -webkit-flex;
        font-size: 2.5vw;
        letter-spacing: 3px;
        align-items: center;
        padding: 0 5%;
        text-align: left;
        color: white;
        white-space: nowrap;
    }

    &--link {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        white-space: nowrap;
        font-size: 2vw;
        letter-spacing: 1px;
        text-align: left;

        svg {
            @include for-size(small-phone) {
                width: 10px !important;
                height: 10px !important;
            }
            @include for-size(phone-only) {
                width: 15px !important;
                height: 15px !important;
            }
            @include for-size(tablet-portrait) {
                width: 18px !important;
                height: 18px !important;
            }
            @include for-size(tablet-landscape) {
                width: 25px !important;
                height: 25px !important;
            }
        }
    }
}

.leftSide-menu {
    &--container {
        border-style: none none solid none;
        border-color: $LightOrange;
        padding: 20% 0;
        text-align: center;
        @include for-size(small-phone) {
            padding: 15% 0;
        }
        @include for-size(phone-only) {
            padding: 15% 0;
        }
        @include for-size(tablet-portrait) {
        }
        @include for-size(tablet-landscape) {
        }
    }

    &--img {
        width: 33%;
        height: auto;
    }
}

.menu-title {
    color: white;
    font-size: 1.5vw;
    margin: 3%;
    padding: 0 2%;
    display: block;
    text-align: center;
}
.services-icon {
    @include for-size(small-phone) {
        width: 45% !important;
    }

    @include for-size(phone-only) {
        width: 45% !important;
    }
    @include for-size(tablet-portrait) {
        width: 40% !important;
    }
    @include for-size(tablet-landscape) {
        width: 40% !important;
    }
}

.main-section {
    width: 86%;
    height: 100%;
    background-color: rgb(5, 151, 165);
    &--top {
        &--title {
            color: white;
            font-size: 2vw;
            letter-spacing: 5px;
            height: 8%;

            background-color: $LightOrange;
            @include for-size(small-phone) {
                letter-spacing: 1px;
            }
            @include for-size(phone-only) {
                letter-spacing: 2px;
            }
            @include for-size(tablet-portrait) {
                letter-spacing: 3px;
            }
            @include for-size(tablet-landscape) {
                letter-spacing: 4px;
            }
        }
    }
    &--middle {
        height: 89%;
        overflow: hidden;
        h4 {
            font-size: 2vw;
        }
    }
}
